*,
*::before,
*::after {
    box-sizing: border-box;
}

html{
    font-size: 1.1;
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: "Commic Sans MS", sans-serif;
    font-size: 1.1rem;
}

.wrapper {
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

.section-title{
    font-size: 2.25rem;
}

section{
    padding-block: 5rem;
}

.diagonal{
    position: relative;
    isolation: isolate;
    
}

.diagonal::after{
    content: '';
    background-image:
    linear-gradient(
        45deg,
        #D46C4E,
        #F9AD6A
    );
    
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(-5deg);
}